.services-container {
  background: #efefef;
  padding: 0 0 50px;
}
.services {
}
.service {
  margin-top: 50px;
  text-align: center;
  h3 {
    color: $header-color;
    font-family: $body-font-family;
    font-size: 1rem;
    font-weight: 900;
  }
  } 
.service-bg {
  background: $white;
  padding: 1rem;
  margin: 0;
  height: 100%;
  @include BoxShadow($med-grey);
  @include corners;
}
.fa.fa-thumbs-o-up, .fa.fa-key, .fa.fa-flag, .fa.fa-flask {
  color: $primary-color;
  font-size: 5rem;
}
.service i {
  width: 100%;
  text-align: center;
}