.too-legit-container {
  background: $med-grey;
  padding: 2rem;
}
.legit {
  text-align: center;
  background:  $white;
  @include corners;
  img {
    padding: 2rem 0;
  }
}
.legit-title {
  h4 {
    font-size: 1rem;
    color: $header-color;
    font-weight: 900;
    display: inline-block;
  }
}
